// player styles
.player {
    position: relative;

    &:first-child {
        border-bottom: 1px solid $grey;
    }

    &__controls {
        @include clearfix;

        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    &__control {
        background-color: transparent;
        border: 0;
        color: $white;
        float: left;
        font-size: em(24);
        font-weight: $bold;
        height: 100%;
        text-shadow: 0 2px 4px #000000;
        width: 50%;

        &:focus {
            outline: 0;
        }

        &:first-child {
            padding-left: 30px;
            text-align: left;
        }

        &:last-child {
            padding-right: 30px;
            text-align: right;
        }
    }

    &__life {
        font-size: em(100);
        font-weight: $bold;
        height: 50vh;
        position: relative;
        text-align: center;
        z-index: 5;

        span {
            @include centering-the-unknown;
        }

        .-deads {
            color: $red;
        }
    }
}
