// player styles
.player {
    position: relative;

    &:nth-child(1) {
        border-bottom: 1px solid $grey;

        .player__controls {
            border-top: 2px solid $black;
            bottom: 30px;
            padding-top: 10px;
        }
    }

    &:nth-child(2) {
        .player__controls {
            border-bottom: 2px solid $black;
            padding-bottom: 10px;
            top: 30px;
        }
    }

    &__controls {
        @include clearfix;

        position: absolute;
        width: 100%;
        z-index: 10;
    }

    &__control {
        background-color: transparent;
        color: $black;
        float: left;
        font-size: em(13);
        font-weight: $bold;
        height: 20px;
        text-align: center;
        width: 5%;
    }

    &__life {
        font-size: em(150);
        font-weight: $bold;
        height: 50vh;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 5;

        span {
            line-height: 1;
            position: absolute;
            text-align: center;
        }

        .-deads {
            color: $red;
        }
    }
}
