mixin player(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .player
    .player__controls
      .player__control.-js-life-down
        span -
      .player__control.-js-life-up
        span +
    .player__life
      span 20
