mixin player(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .player
    .player__controls
      .player__control.-js-life 1
      .player__control.-js-life 2
      .player__control.-js-life 3
      .player__control.-js-life 4
      .player__control.-js-life 5
      .player__control.-js-life 6
      .player__control.-js-life 7
      .player__control.-js-life 8
      .player__control.-js-life 9
      .player__control.-js-life 10
      .player__control.-js-life 11
      .player__control.-js-life 12
      .player__control.-js-life 13
      .player__control.-js-life 14
      .player__control.-js-life 15
      .player__control.-js-life 16
      .player__control.-js-life 17
      .player__control.-js-life 18
      .player__control.-js-life 19
      .player__control.-js-life 20
    .player__life
      span 20
