// player styles
.player {
    position: relative;

    &:first-child {
        border-bottom: 1px solid $grey;
    }

    &__controls {
        @include clearfix;

        position: absolute;
        width: 100%;
        z-index: 10;
    }

    &__control {
        background-color: transparent;
        color: $black;
        float: left;
        font-size: em(30);
        font-weight: $bold;
        width: 50%;

        &:focus {
            outline: 0;
        }

        &:first-child {
            span {
                left: 30px;
            }
        }

        &:last-child {
            span {
                right: 30px;
            }
        }

        span {
            position: absolute;
        }
    }

    &__life {
        font-size: em(150);
        font-weight: $bold;
        height: 50vh;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 5;

        span {
            position: absolute;
        }

        .-deads {
            color: $red;
        }
    }
}
