/* =======================================================================
Layout
========================================================================== */
body {
    background: $black;
    color: $white;
}

.offline {
    height: calc(100vh - 91px);
    text-align: center;

    @include mobile {
        height: calc(100vh - 45px);
    }


    svg {
        width: 100px;
    }

    .container {
        .wrap {
            @include centering-the-unknown;
        }
    }
}

.planeswalker__logo {
    @include absolute-center;

    border: 1px solid $white;
    background-color: $white;
    border-radius: 50%;
    bottom: auto;
    height: 40px;
    top: calc(50vh - 20px);
    width: 40px;
    z-index: 20;

    &:focus {
        outline: 0;
    }

    svg {
        height: 36px;
    }
}
