extends _layouts/base

include ./_modules/player/player

block content
  section.section
    +player()

    +player()

    button.planeswalker__logo.-js-reset-life(type="button")
      svg(version='1.1', xmlns:cc='http://creativecommons.org/ns#', xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 13 24' style='enable-background:new 0 0 13 24;', xml:space='preserve')
        path(inkscape:connector-curvature='0', d='M0,12.1l0-0.5h0l0,0l0.5-6.3c0,0,0.2,4.4,1,5.6c0.3-0.1,0.6-0.2,1-0.3\
          c0.8-2.1,1.1-8.3,1.1-8.3S3.7,8,4.4,10.1C4.8,10.1,5.2,10,5.6,10C6.3,7.3,6.5,0,6.5,0s0.2,7.3,1,10c0.4,0,0.8,0.1,1.1,0.1\
          c0.7-2.2,1-7.8,1-7.8s0.2,6.2,0.9,8.3c0.3,0.1,0.6,0.2,0.9,0.3c0.8-1.2,1.1-5.6,1.1-5.6l0.4,6.3l0,0h0l0,0.5c0,0-6.4,2.1-6.4,11.9\
          C6.5,14.2,0,12.1,0,12.1')

